body {
  background-color: #3a5a40;

}

header {
  background: rgb(38, 72, 39);

  text-align: center;
  padding: 1vw;
  text-shadow: .5vw .5vw .5vw rgb(0, 0, 0);
}



h1 {
  color: #a3b18a;
  font-size: 5vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 1vw;
}

main {
  width: 90%;
  margin: 0 auto;
  padding: 5vw;
  min-height: 5vw;
  text-align: left;
  border-style: solid;
  border-width: 1vw;
  border-left-width: 1vw;
  border-right-width: 1vw;
  border-color: rgb(0, 0, 0);
}

p {
  color: #dad7cd;
  font-size: 2vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 5vw;
  text-shadow: .25vw .25vw .25vw rgba(0, 0, 0, 0.725);
}


h2 {
  font-size: 3vw;
  color: #dad7cd;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: .25vw .25vw .25vw rgba(0, 0, 0, 0.725);
  text-align: center;
  background-color: #a3b18a;
  border-style: solid;
  border-width: .25vw;
  border-color: rgb(0, 0, 0);
  
}

ol {
  list-style-type: numbered;
  padding-left: 20px;
  margin-bottom: 20px;
  padding: 1vw;
  font-size: 3vw;


}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
  padding: 1vw;

}


li {
  font-size: 1vw;
  color: #dad7cd;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: .25vw .25vw .25vw rgba(0, 0, 0, 0.725);
  padding-left: 5vw;
  padding: 1vw;
  text-align: ;
}

#albums {
  float: right;
  margin-right: 35vw;
  height: 30vw;
  padding-top: 2vw;

}

h3 {
  font-size: 3vw;
  color: #dad7cd;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: .25vw .25vw .25vw rgba(0, 0, 0, 0.725);
  text-align: center;
  background-color: #a3b18a;
  border-style: solid;
  border-width: .25vw;
  border-color: rgb(0, 0, 0);
}

footer {
  border-style: groove;
  border-width: 2vw;
  border-color: rgba(16, 49, 20, 0.414);

}
 
 .gif {
height: 20vw;
width: 20vw;
margin-left: 20vw;


  
} 


