body {
  background-color: #3a5a40;

}

header {
  background: rgb(38, 72, 39);

  text-align: center;
  padding: 10px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky+.content {
  padding-top: 102px;
}

h1 {
  color: #a3b18a;
  font-size: 60px;
}

main {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  min-height: 400px;
  text-align: left;
  border-style: solid;
  border-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: rgb(0, 0, 0);
}

p {
  color: #dad7cd;
  font-size: 20px;
  padding: 50px;
}

img {

  width: 860px;
  height: 900px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}